block title
  - var title = ""

block description
  - var description = siteDescription

head
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  )
  title= title + " - MaharajaDao"
  meta(
    name="description"
    content= description
  )


  link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet")

  mixin favicon(size)
    link(
      rel="icon"
      href="favicon-" + size + ".png"
      sizes=size + "x" + size
      type="image/png"
    )

  link(
    rel="stylesheet"
    href=base + "css/site" + min + ".css"
  )

  block additional-stylesheets
